.core-ceditor {
    /*-moz-appearance: textfield-multiline;*/
    /*-webkit-appearance: textarea;*/
    /*border: 1px solid gray;*/
    outline: 0px;
    /*font-family: Menlo;*/
    height: 100%;
    width:100%;
    overflow: auto;
    /*padding: 2px;*/
    word-break: keep-all;
    white-space: nowrap;
    margin:0 0 0 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    color: forestgreen;
}

input {
    margin-top: 5px;
    width: 400px;
}

.cecho-pre {
    margin:0 0 0 0;
    font-family: Menlo;
    font-size: 20px;
}

.cecho-div{
    margin:0 0 0 0;
    font-family:Menlo;
    font-size: 20px;
}

.core-separator{
   color: white;
}
